@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
body {
    background: #fff;
}
body, body p {
    font-size: 18px;
    color: #333;
    line-height: 25px;
    padding: 0;
    font-weight: 300;
    font-family: 'Satisfy', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'Satisfy', cursive;
}
a, 
.comment-reply-link,
.entry-title a:hover,
.entry-title a:focus,
.main-navigation li:hover > a, 
.main-navigation li.focus > a {
	color: #f28288;
}
a:focus,
button {
	outline: 0!important;
}
.menu-toggle:hover, .menu-toggle:focus {
    background: #f28288;
}
.breadcrumb {
    margin-top: 40px;
}
.menu-toggle:before {
    color: #f28288;
}
.menu-toggle:hover:before, .menu-toggle:focus:before {
    color: #fff;
}
.dropdown-toggle:after {
    color: #000;
}

/*** Top Header  ***/
.top-head {
    padding: 15px 0;
    position: relative;
    z-index: 2;
    background: #ece9e9;
}
.top-head .container, .top-logo .container {
    max-width: 1170px;
    margin: 0 auto; 
    padding-left: 30px;
    padding-right: 30px;  
    line-height: 16px; 
}
.top-head ul li a {
    line-height: 10px;
}
.top-head .top-head-widget:nth-child(1) ul li,
.top-head .top-head-widget:nth-child(2) ul li a {
    font-family: FontAwesome;
    color: #fea7a7;
    font-size: 18px;
}
.top-head .top-head-widget:nth-child(2) ul li a:hover {
    cursor: pointer;
}
.top-head .top-head-widget:nth-child(1) ul li a,
.top-head .top-head-widget:nth-child(2) ul li {
    font-family: 'Satisfy', cursive;
    list-style-type: none;
}
.top-head .top-head-widget:nth-child(1) ul li a {
    padding-left: 10px;
    color: #333;
    font-size: 14px;
}
.top-head .top-head-widget:nth-child(2) ul li {
    float: right;
    margin-left: 20px;
}
.top-head-widget:nth-child(1) ul li {
    float: left;
    margin-right: 20px;
}
.top-head-widget {
    width: 50%;
    display: inline-block;
}
.top-head-widget:nth-child(1) {
    float: left;
}
.top-left-text span {
    color: #fff;
    font-size: 15px;
    font-family: 'Satisfy', cursive;
}
.top-left-link:before {
    content: " ";
    display: inline-block;
    margin: 3px 22px;
    width: 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.top-left-sep {
    margin: 0 5px;
}
.top-bar-right {
    color: #fff;
    float: right;
    font-family: 'Satisfy', cursive;
}
.top-bar-right-text,
.top-bar-right-social {
    display: inline;
}
.top-bar-right i {
    font-size: 14px;
    color: #cb1a2b;
    margin-left: 20px;
    margin-right: 7px;
}
.top-bar-right span {
    margin-left: 20px;
    color: #cb1a2b;
}

/*** Top Logo ***/
.top-logo {
    padding: 15px 0;
    position: relative;
    z-index: 2;
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.top-head-logo {
    width: 50%;
    float: left;
}
.top-head-logo form {
    width: 50%;
    margin: 0 auto;
    margin-right: 0;
}

/*** Head Menu ***/
.site-header {
    position: fixed;
    width: 100%;
    padding: 0 25px;
    box-shadow: 0px 1px 15px 0 rgba(0,0,0,.05);
    background-color: #da5e69;
    z-index: 999;
}
body:not(.home) .site-header {
    position: relative;
}
body.page-id-363 .site-main, body.page-id-363 .site-content {
    margin-bottom: 0 !important;
}
.site-header.is-sticky {
    max-width: 100% !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 15px 0 rgba(0,0,0,.05);
}
.site-header-main .site-description {
    display: none;
}
.site-branding {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

/*** Menu ***/
.site-header-main {
    max-width: 1170px;
    margin: 0 auto;
}
.main-navigation a {
	font-weight: 300;
	font-size: 14px;
    text-transform: uppercase;
}
.site-header-menu {
    margin-top: 0;
    margin-bottom: 0;
}
.site-header-menu.is-sticky {
    position: relative;
    margin: 0 auto;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out!important;
    -moz-transition: all 0.4s ease-in-out!important;
    -ms-transition: all 0.4s ease-in-out!important;
    -o-transition: all 0.4s ease-in-out!important;
    transition: all 0.4s ease-in-out!important;
}
.site-header-menu .primary-menu > li > a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    line-height: 90px;
    height: 90px;
    position: relative;
	padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.site-header-menu .primary-menu ul ul > li > a {
    color: #000;
}
.site-header .site-header-menu .primary-menu > li:hover > a,
.site-header .site-header-menu .primary-menu > li.current-menu-item > a {
    color: #fea7a7;
}
.site-header .site-header-main li {
	padding: 10px 20px;
    margin-top: 12px;
}
.site-inner .site-content {
	margin-top: 70px;
}
/*** Title ***/
.ws-title {
    margin-bottom: 3px !important;
}
.ws-title h3 {
    padding-bottom: 40px !important;
    position: relative;
}
.ws-title h3:before {
    content: "\f141";
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: inline-block;
    left: 0;
    font-size: 40px;
    right: 0;
}

/*** Client ***/
.ws-client .ws-client-item:hover {
    cursor: pointer;
}
.ws-client .ws-client-item .elementor-icon-box-icon span.elementor-icon i {
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-client .ws-client-item:hover .elementor-icon-box-icon span.elementor-icon i {
    transform: scale(1.1);
}

/*** Intro ***/
.ws-intro-item .elementor-image {
    overflow: hidden;
}
.ws-intro-item .elementor-image img {
    width: 100%;
    display: flex;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.ws-intro-item:hover .elementor-image img {
    margin-left: 10px;
}

/*** About ***/
.ws-about-item {
    position: relative;
}
.ws-about-item:hover {
    cursor: pointer;
}
.ws-about-item:before {
    content: '';
    z-index: 2;
    font-family: FontAwesome;
    position: absolute;
    display: inline-block;
    right: 12%;
    top: 8%;
    opacity: 0;
    border-top: 44px solid #fea7a7;
    border-left: 0px solid transparent!important;
}
.ws-about-item:after {
    content: '\f00c';
    z-index: 3;
    font-family: FontAwesome;
    position: absolute;
    display: inline-block;
    right: 14%;
    top: 9%;
    color: #fff;
    opacity: 0;
    font-size: 20px;
}
.ws-about-item:before,
.ws-about-item:after {
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-about-item:hover:before,
.ws-about-item:hover:after {
    opacity: 1;
    border-left: 44px solid transparent!important;
}
.ws-about-item .elementor-widget-wrap {
    padding: 60px 0px 20px 0px;
    border: 2px solid  #e5e5e5;
    background-color: #fff;
    border-radius: 5px;
}
.ws-about-item .elementor-text-editor.elementor-clearfix {
    padding-bottom: 60px;
    margin-top: -15px;
    border-bottom: 1px solid #eee;
}
.ws-about-item > .elementor-column-wrap {
    background-color: #fff;
    position: relative;
    border: 2px solid  #e5e5e5;
    border-radius: 5px;
}
.ws-about-item:hover .elementor-column-wrap,
.ws-about-item:hover >  .elementor-widget-wrap {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}
.ws-about-item .elementor-column-wrap,
.ws-about-item >  .elementor-widget-wrap {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.ws-about-item .elementor-widget-wrap span {
    color: #fea7a7;
}
.ws-about .ws-icon .elementor-icon {
    padding: 13px;
    background: #f28288;
    border-radius: 50%;
}
.ws-about01 .ws-about01-item:hover {
    cursor: pointer;
}
.ws-about01 .ws-about01-item .elementor-image-box-img img {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.ws-about01 .ws-about01-item:hover .elementor-image-box-img img {
    transform: scale(1.3);
}

/*** Product ***/
.woocommerce ul.products li.product {
    margin-bottom: 40px;
    padding-bottom: 15px;
}
.woocommerce ul.products li.product {
    box-shadow: 0px 0px 10px 0px #eee;
}
.woocommerce ul.products li.product h2 {
    margin-top: 10px !important;
    font-size: 20px !important;
    font-weight: 300;
}
body div.woocommerce ul.products li.product span.price {
    font-size: 13px !important;
    font-weight: 300;
}
.woocommerce ul.products li.product:hover:before {
    transform: scale(1) !important;
}
body.woocommerce .sidebar-left-blog, body.woocommerce .sidebar-right-blog {
    display: block;
}
.ws-product-01 .woocommerce ul.products li.product:nth-child(4),
.ws-product-01 .woocommerce ul.products li.product:nth-child(5),
.ws-product-01 .woocommerce ul.products li.product:nth-child(6) {
    margin-bottom: 0;
}
.ws-product-01 .woocommerce ul.products {
    margin: 0 !important;
}

/*** Team ***/
.ws-team .ws-team-item {
    overflow: hidden;
}
.ws-team .ws-team-item .elementor-image-box-img img {
    border-radius: 5%;
}
.ws-team-icon {
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-team .ws-team-item:hover .ws-team-icon {
    bottom: 60%;
    opacity: 1;
}

/*** Servicer ***/
.ws-service-item .elementor-image-box-img {
    position: relative;
}
.ws-service-item .elementor-image-box-img:before {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba(0,0,0,.1);
    content: "";
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.ws-service-item .elementor-image-box-img:after {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba(0,0,0,.1);
    content: "";
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.ws-service-item:hover .elementor-image-box-img:after,
.ws-service-item:hover .elementor-image-box-img:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*** Feature ***/
.ws-feature .ws-feature-item:hover {
    cursor: pointer;
}
.ws-feature .ws-feature-item img {
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.ws-feature .ws-feature-item:hover img {
    transform: scale(1.1);
}

/*** Testimonial ***/
.ws-testimonial .swiper-slide-inner img {
	border-radius: 50%;
}
.ws-testimonial .elementor-image-carousel-caption {
    padding-top: 30px;
}
.ws-testimonial .elementor-image-carousel-caption h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
.ws-testimonial .elementor-image-carousel-caption h6 {
    font-size: 25px;
    line-height: 35px;
    padding: 0 40px;
    font-weight: 400;
}

/*** Blog ***/
.ws-blog .premium-blog-content-wrapper {
    top: 0 !important;
    margin: 0px;
    padding: 20px 0;
}
.ws-blog-item h2 a {
    font-size: 23px !important;
}
.ws-blog .ws-blog-item .premium-blog-entry-meta {
    margin-top: 15px;
    margin-bottom: 0 !important;
}
.premium-blog-post-content {
    border-top: none !important;
}
.ws-blog-item.right .premium-blog-post-content {
    display: none;
}
.ws-blog-item.right .premium-blog-post-container:nth-child(1) ,
.ws-blog-item.right .premium-blog-post-container:nth-child(1) .premium-blog-content-wrapper {
    padding-bottom: 0;
}
.ws-accordion-item .elementor-accordion-item {
    margin-bottom: 20px !important;
    border-top: 1px solid #d4d4d4 !important;
}
.post-thumbnail img {
    width: 100%;
}
.post-title:hover, .nav-previous a .post-title:hover, .nav-links .nav-previous .post-title:hover,
.nav-links .nav-previous .post-title:focus, .nav-next .post-title:hover,
.post-navigation a:hover .post-title, .post-navigation a:focus .post-title, 
.ws-title h2 span, .ws-title2 h3 span  {
    color: #f28288 !important;
}
nav.post-navigation a:hover .post-title, nav.post-navigation a:focus .post-title, .ws-title h2 span, .ws-title2 h3 span {
    color: #f28288 !important;
}

/*** Contact ***/
.wpcf7-form textarea {
    height: 150px;
    background-color: transparent;
}
.ws-contact-form .wpcf7 {
    display: inline-block;
    width: 100%;
}
.ws-contact-form p:nth-child(4),
.ws-contact-form p:nth-child(5) {
    width: 48% !important;
    float: left;
    display: inline-block;
    margin-bottom: 25px;
}
.ws-contact-form p:nth-child(4) {
    margin-right: 4%;
}
.wpcf7-submit {
    text-align: center;
    margin-top: 25px;
}
.ws-contact-form p:nth-child(7) {
    text-align: center;
}

/*** Woocommerce ***/
.woocommerce span.onsale, .mg-wsac-badge, .mg-wsac-btn {
    background-color: #f28288;
} 
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
body .woocommerce a.button, body .woocommerce #respond input#submit, body  .woocommerce a.button:hover, 
body .woocommerce button.button, body .woocommerce input.button, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
body .elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
.sidebar .widget-title:before, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.form-submit input:hover,
.button.compare:hover:after, .button.yith-wcqv-button:hover:after, 
.button.tinvwl_add_to_wishlist_button:hover:after,
ul.products li.product .button.add_to_cart_button:hover:after,
.price_slider div.ui-slider-range.ui-widget-header.ui-corner-all,
.woocommerce-product-search button:hover,
.price_slider span.ui-slider-handle.ui-state-default.ui-corner-all,
.pagination .prev:hover, .pagination .prev:focus, .pagination .next:hover, .pagination .next:focus,
form#commentform .form-submit input#submit, .wpmenucartli.wpmenucart-display-standard a i {
    background-color: #f28288 !important;
}
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_view.tinvwl-btn-onclick,
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_close {
    background-color: #f28288 !important;
}
.right-border, .woocommerce-message,
.woocommerce div.product form.cart .button, .woocommerce #respond input#submit, 
.woocommerce button.button, .woocommerce input.button {
    border-color: #f28288;
}
.woocommerce-message:before {
    color: #f28288;
}
ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}

/*** Footer ***/
.main-footer {
    position: relative;
    z-index: 1;
    background: #da5e69;
    background-size: cover;
    background-position: center; 
}
.main-footer .columns h2 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Satisfy', cursive;
}
.main-footer .columns,
.main-footer .columns {
    width: 33.3% !important;
    padding: 20px;
    text-align: center !important;
}
.main-footer .columns ul li {
    margin: 5px 10px !important;
}
.main-footer .columns:nth-child(1) .gallery-item .gallery-icon.landscape {
    text-align: center !important;
}
.main-footer .columns:nth-child(1) .gallery {
    margin-top: 30px;
}
.main-footer .columns:nth-child(1) .gallery-columns-4 .gallery-item {
    max-width: 18% !important;
}
.main-footer .columns:nth-child(2) ul {
    margin-left: 3px;
}
.main-footer .columns:nth-child(2) ul li {
    color: #fff;
}
.main-footer .columns:nth-child(2) ul li a {
    padding-left: 15px;
    font-weight: 300;
}
.main-footer .columns:nth-child(3) #search-3 {
    margin-top: 25px;
}
.main-footer .columns:nth-child(3) .search-submit {
    background-color: #f28288;
}
.main-footer .columns:nth-child(3) .search-submit:hover {
    background-color: #000;
}
.main-footer .columns:nth-child(4) {
    width: 100% !important;
}
.main-footer .columns p {
    color: #fff;
    font-size: 15px;
    margin-top: 12px;  
}
.main-footer .columns:nth-child(4) .gallery {
    margin-top: 30px;
}
.main-footer .columns a {
    color: #fff;
    font-size: 16px; 
    line-height: 27px; 
    font-family: 'Satisfy', cursive;
}
.site-footer {
    background: #fea7a7;
}
.site-footer p {
    font-size: 16px;
    color: #fff ;
}

/*** Responsive ***/
@media (max-width: 1024px) {
	.top-bar-right span,
	.top-bar-right i {
		margin-left: 10px;
	}
    body ul.products li.product:hover .button.add_to_cart_button {
        top: 15% !important;
        margin: 0 auto !important;
    }
    .ws-product-title, .ws-product-01 {
        width: 100% !important;
    }
    .ws-product-title .ws-product-img .elementor-image img {
        display: none;
    }
    .ws-about .ws-about-title, .ws-about .ws-about-counter {
        width: 100% !important;
    }
}

@media (max-width: 960px) {
	body.woocommerce #primary #main {
		width: 100% !important;
	    float: none;
		margin-right: 0 !important;
	}	
	.sidebar {
	    margin-left: 0%;
		width: 100%!important;
	}
	.site-header-menu .primary-menu > li > a {
		height: 45px;
		line-height: 45px;
	}
    .site-header-menu .primary-menu > li > a:before {
        content: none;
    }
	.site-header-main {
		width: 100%;
	}
	.site-header-main ul ul > li > a {
		color: #fff;
	}
    .ws-special-product .elementor-element {
        width: 100% !important;
    }
    .site-header {
        position: relative;
        border-radius: 0 !important;
    }
    .ws-feature {
        margin-top: 0 !important;
    }
    .ws-blog-column {
        width: 100% !important;
    }
    .site-header-menu .primary-menu ul>li>a {
        padding-left: 15px;
    }
}

@media(max-width: 910px)  {
    .site-header-menu .primary-menu > li > a:after {
        content: none;
    }
}

@media(max-width: 769px)  {
    .ws-blog-item .premium-blog-entry-meta {
        top: -55px;
    }
    .top-head {
        display: none;
    }
	.ws-slider-text #n2-ss-2item3::after {
		content: none;
	}
	.ws-product-left .elementor-image-box-content {
		padding: 0 80px;
	}
    .main-footer .columns {
        width: 100% !important;
    }
    .main-footer .columns:nth-child(2) {
        padding-left: 10px;
    }
    article .post-thumbnail, article .entry-content p, article .entry-content a, article .entry-footer, article .entry-header {
        margin: 10px 30px !important;
    }
    body.page-template-default .post-thumbnail, body.page-template-default .entry-content p, 
    body.page-template-default .entry-content a, body.page-template-default .entry-footer, body.page-template-default .entry-header {
        margin: 5px !important;
    }
    .ws-blog .premium-blog-post-outer-container {
        position: relative !important;
        left: 0 !important;
        top: 0px !important;
        width: 100% !important;
    }
    .ws-blog .premium-blog-thumb-effect-wrapper {
        margin-bottom: 0;
    }
    .ws-blog .premium-blog-post-container .ws-intro-big {
        width: 100% !important;
    }
    body.woocommerce-page ul.products li.product {
        width: 46%!important;
        margin: 0 0 2.992em !important;
    }
    body.woocommerce-page .page-numbers.current {
        margin: 10px 30px;
        background: none !important;
        color: #000 !important;
    }
}
@media(max-width: 768px) {
    .ws-about-item:before {
        right: 6% !important;
        top: 15% !important;
    }
    .ws-about-item:after {
        right: 7% !important;
        top: 15% !important;
    }
}
@media(max-width: 678px) {
    .ws-blog-item .premium-blog-post-container {
        width: 100% !important;
    }

	.ws-btn-slider a {
		font-size: 9px !important;
		padding: 10px 20px !important;
	}
}
@media (max-width: 480px) {
    body.woocommerce-page ul.products li.product {
        width: 100%!important;
        margin: 30px 0!important;
    }
    body.home .woocommerce ul.products li.product {
        margin-right: 0%!important;
        width: 100%!important;
    }
    .ws-contact-form p:nth-child(5),
    .ws-contact-form p:nth-child(6),
    .ws-feature-column {
        width: 100% !important;
    }
    .ws-product-left p {
        font-size: 40px !important;
    }
    .ws-product-sale .ws-product-left img {
        height: 510px;
    }
    .ws-blog-item span {
        padding: 0 10px;
    }
	.ws-blog-item.left .premium-blog-post-comments {
		display: none;
	}
	.footer-social a {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.footer-social i {
		font-size: 15px;
	}
    .ws-about-item:before {
        right: 9% !important;
    }
    .ws-about-item:after {
        right: 11% !important;
    }
}
@media  (min-width: 767px) and (max-width: 769px) {
	.ws-product-item.featured-product .woocommerce ul.products li.product {
		width: 100% !important;
	}	
}
@media (max-width: 320px) {
    .ws-about-item:before {
        right: 14% !important;
    }
    .ws-about-item:after {
        right: 17% !important;
    }
}
